@page
@model Rajwinder_shopping_centre.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<!--edit page create for edit the category -->
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.Id" />
            <div class="form-group">
                <label asp-for="Category.Category_Name" class="control-label">Catgory Name</label>
                <input asp-for="Category.Category_Name" class="form-control" />
                <span asp-validation-for="Category.Category_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Category_Status" class="control-label">Catgory Status</label>
                <input asp-for="Category.Category_Status" class="form-control" />
                <span asp-validation-for="Category.Category_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
