@page
@model Rajwinder_shopping_centre.Pages.Signups.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<!--THIS PAGE IS USE FOR DELETE THE SINGUP INFORMATION-->
<div>
    <h4>Signup</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
         Signup Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Signup.Signup_Name)
        </dd>
        <dt class="col-sm-2">
         Signup Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Signup.Signup_Email)
        </dd>
        <dt class="col-sm-2">
         Signup ubject
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Signup.Signup_Subject)
        </dd>
        <dt class="col-sm-2">
         Signup Massage
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Signup.Signup_Massage)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Signup.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
