@page
@model Rajwinder_shopping_centre.Pages.Signups.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Signup</h4>
<hr />
<!--this page is make for edit the signup page-->
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Signup.Id" />
            <div class="form-group">
                <label asp-for="Signup.Signup_Name" class="control-label">Signup Name</label>
                <input asp-for="Signup.Signup_Name" class="form-control" />
                <span asp-validation-for="Signup.Signup_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Signup.Signup_Email" class="control-label">Signup Email</label>
                <input asp-for="Signup.Signup_Email" class="form-control" />
                <span asp-validation-for="Signup.Signup_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Signup.Signup_Subject" class="control-label">Signup Subject</label>
                <input asp-for="Signup.Signup_Subject" class="form-control" />
                <span asp-validation-for="Signup.Signup_Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Signup.Signup_Massage" class="control-label">Signup Massage</label>
                <input asp-for="Signup.Signup_Massage" class="form-control" />
                <span asp-validation-for="Signup.Signup_Massage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
