@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--this page is use for giving the infomatoin about shopping centre -->

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Shopping with US and explore Your experience</p>
    <p>Fashion is best defined simply as the style or styles of clothing and accessories worn at any given time by groups of people.
    There may appear to be differences between the expensive designer fashions shown on the runways of Paris or New York and the mass-produced sportswear and street styles sold in malls and markets around the world.</p>
    <img src="~/img/pic2.jpg"  />
</div>
